.block{
    display: grid;
    align-items: center;
    margin: 30px var(--leftRightMargin) 120px;
    border-radius: 10px;
}
.about-us-block{ 
    grid-template-columns: 60% 40%;
    grid-template-rows: 500px;
    background-color: #ee8071;
    color:white;
}

.second-block{
    grid-template-columns: 35% 65%;
    grid-template-rows: 700px;
    background-color: #f1ddda;
    color:black;
}

.second-block h2, .third-block h2{
    color:#ee8071;
   
}

.three-flex-comp{
    display: flex;
    flex-direction: row;
    margin: 30px var(--leftRightMargin) 160px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}


.third-block{

    grid-template-columns: 60% 40%;
    grid-template-rows: 700px;
    background-color: #f1ddda;
    color:black;

}
.block-div{
    padding: 130px 70px;
}

.right-border-radius{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;   
}
.left-border-radius{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.img-setting{
    object-fit: cover;
    filter:brightness(0.5);
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1170px){
    .block{
        margin: 0 0 0;
        border-radius: 0;
    }
    .about-us-block{
        margin-top: 30px;
    }
    .about-us-block,.second-block,.third-block{
        grid-template-rows: 100%;
    }
    .right-border-radius{
        border-radius: 0;
    }
    .left-border-radius{
        border-radius: 0;
    }
    .three-flex-comp{
        margin: 0;
        padding: 130px var(--leftRightMargin) 130px;
        background-color: #ee8071;
        color:#f1ddda;
    }
    .three-flex-comp .dot{
        background-color:#d25d5d;
    }
    .three-flex-comp .homepage-btn-2{
        background-color:#d25d5d;
        border-color: #d25d5d;
        color: #f1ddda;
    }
    .three-flex-comp .homepage-btn-2:hover{
        background-color:#f1ddda;
        color:#d25d5d;
        border-color: #d25d5d;
    }

}
@media only screen and (max-width: 830px){
    .three-flex-comp{
        flex-direction: column;
        padding: 100px var(--leftRightMargin) 100px;
        row-gap: 100px;
    }
}




@media only screen and (max-width: 640px){
    .block-div {
        padding: 70px 30px;
    }
    .about-us-block .img-setting{
        
        height:30vh;
    }
    .second-block .img-setting{
        
        height:50vh;
    }
    .third-block .img-setting{
        height:45vh;
    }

    .about-us-block, .third-block{ 
        display: flex;
        flex-direction: column-reverse;
    }
    .second-block{
        display: flex;
        flex-direction: column;  
    }
    
}
