



/* hero-block */
.hero-block-grid{
    background-color: #ee8071;
    color: white;
    border-radius: 10px;
    padding: 80px 80px;
    display: grid;
    grid-template-columns: 50% 40%;
    grid-column-gap: 5%;
    margin: 30px var(--leftRightMargin) 0;
}
div.grid-item-1 * {
    margin-top: 40px;
}

/* three component */
.three-component-grid{
    margin: 130px var(--leftRightMargin) 0;
    display: grid;
    grid-template:
        "main top"
        "main top"
        "main bottom"
        "main bottom";
    grid-gap: 30px;
}
.comp-1{
    grid-area: main; 
    position: relative;
    text-align: center;
    color: white;

}
.comp-2{
    grid-area: top; 
    position: relative;
    text-align: center;
    color: white;

}
.comp-3{
    grid-area: bottom;  
    position: relative;
    text-align: center;
    color: white;
    
}
.component{
    transition: 0.4s;
    cursor: pointer;
}
.component img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) brightness(0.3);
    vertical-align: middle;
}
.component:hover{
    transform: scale(1.02);
    
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

/* three flex comp */
.three-flex-comp{
    display: flex;
    flex-direction: row;
    margin: 180px var(--leftRightMargin) 0;
    column-gap: 50px;
    margin-bottom: 130px;
    justify-content: space-evenly;
}
.hp-card{
    text-align: center;
    width: 330px;
    margin-bottom: 100px;
}
.card-title-text{
    letter-spacing: 4px;
}



@media only screen and (max-width: 930px){
    .hero-block-grid{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .three-component-grid{
        margin: 100px var(--leftRightMargin) 0;
        display: flex;
        flex-direction: column;
        
    }
    .component img{
        height: 250px;
    }

    .three-flex-comp{
        flex-direction: column;
    }
    
    .hp-card{
        display: grid;
        grid-template-columns: 30% 65%;
        grid-column-gap: 70px;
        text-align: left;
        align-items: center;
        width: 100%;
        
    }
    .dot-text{
        width: 80%;
    }
    
}
@media only screen and (max-width: 630px){
    .hero-block-grid{
        border-radius: 0;
        margin: 30px 0 0;
    }
    .hp-card{
        display: flex;
        flex-direction: column;
    }
    .dot-text{
        text-align: center;
        width: 90%;
        margin-top: 40px;
    }
    .card-title-text{
        margin-bottom: 30px;
    }
    .component img{
        height: 350px;
    }
}
@media only screen and (max-width: 510px){
    .hero-block-grid{      
        padding: 30px;
    }
    .card-title-text{
        font-size: 1.2rem;
        font-weight: bold;
    }
}

