
.orange-block{
    background-color: #ee8071;
    color: white;
    margin: 40px var(--leftRightMargin) 130px ;
    border-radius: 10px;
    padding: 70px 80px 50px;

    text-align: center;
}
.six-card-grid{
    display: grid;
    margin: 0 var(--leftRightMargin) 100px ;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 500px 500px;
    justify-content: space-between;
    text-align: center;
}
.inner-site-card{
    cursor: pointer;
}
.web-card{
    width: 100%;
    height: 60%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.info-card{
    background-color: #fff1ef;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.info-card h3{
    color: #ee8071;
}
.color-grey-card{
    background: rgb(162,192,205);
    background: linear-gradient(90deg, rgba(162,192,205,1) -1%, rgba(153,170,226,1) 100%, rgba(255,252,252,1) 100%);

}
.color-blue-card{
    background: rgb(104,193,232);
    background: linear-gradient(90deg, rgba(104,193,232,1) -1%, rgba(239,143,255,1) 100%, rgba(255,252,252,1) 100%);
}
.color-green-card{
    background: rgb(77,123,134);
    background: linear-gradient(90deg, rgba(77,123,134,1) -1%, rgba(9,92,53,1) 100%, rgba(255,252,252,1) 100%);
}
.color-aqua-card{
    background: rgb(168,185,189);
    background: linear-gradient(90deg, rgba(168,185,189,1) -1%, rgba(91,224,192,1) 100%, rgba(255,252,252,1) 100%);
}
.color-red-card{
    background: rgb(255,100,100);
    background: linear-gradient(90deg, rgba(255,100,100,1) 0%, rgba(255,155,115,1) 100%);
}
.color-indigo-card{
    background: rgb(162,159,244);
    background: linear-gradient(90deg, rgba(162,159,244,1) 0%, rgba(54,6,149,1) 100%);
}


.two-block{
    display: grid;
    grid-template-columns: 48% 48%;
    margin: 0 var(--leftRightMargin) 200px ;
    justify-content: space-between;

}
.block{
    position: relative;
    text-align: center;
    color: white;
    transition: 0.4s;
    cursor: pointer;
    
}
.block img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) brightness(0.3);
    vertical-align: middle;
}
.block:hover{
    transform: scale(1.02);
   
    
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }


@media  only screen and (max-width: 1040px){
    .six-card-grid{
        
        grid-template-columns: 48% 48% ;
        row-gap: 0px;
        grid-template-rows: 400px 400px 400px;
        
    }
    
}
@media  only screen and (max-width: 690px){
    .six-card-grid{
        margin: 0 var(--leftRightMargin) 50px ;
        grid-template-columns: 100% ;
        grid-template-rows: repeat(6,500px);
        
    }
    .two-block{

        grid-template-columns: 100%;
        row-gap: 30px;
        grid-template-rows: 30% 30%;
        margin: 0 var(--leftRightMargin) 0 ;

    }
    .two-block .hero-text{
        font-size: 1.5rem;
        line-height: 30px;
    }
    .orange-block{
        background-color: #ee8071;
        color: white;
        margin: 40px 0 130px ;
        border-radius: 0;
        padding: 110px 80px 100px;
    
        text-align: center;
    }
   
    
}